{% extends 'admin/index.html.twig' %}
{% block content %}
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Mat</th>
                    <th>Login</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Adresse</th>
                    <th>CP</th>
                    <th>Ville</th>
                    <th>Date d'embauche</th>
                    <th>Labo</th>
                    <th>Secteur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for vis in visiteurs %}
            <tbody>
                <tr>
                    <th>{{ vis.getVisMatricule }}</th>
                    <th>{{ vis.getVisLogin }}</th>
                    <th>{{ vis.getVisNom }}</th>
                    <th>{{ vis.getVisPrenom }}</th>
                    <th>{{ vis.getVisAdresse }}</th>
                    <th>{{ vis.getVisCp }}</th>
                    <th>{{ vis.getVisVille }}</th>
                    <th>{{ vis.getVisDateembaucheStr }}</th>
                    <th>{{ vis.getLabCode }}</th>
                    <th>{{ vis.getSecCode }}</th>
                    <th>
                        <a href="{{ path('edit.visiteurs', {id: vis.getVisMatricule}) }}" class="btn btn-secondary">Editer</a>
                        <form method="POST" action="{{ path('del.visiteurs', {id: vis.getVisMatricule}) }}" style="display: inline-block" onsubmit="return confirm('Êtes vous sûr ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_TOKEN" value="{{ csrf_token("delete_vis" ~ vis.getVisMatricule) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </th>
                </tr> 
            <tbody>
            {% endfor %}
        </table>
        <div class="text-right">
            <a href="{{ path('new.visiteurs') }}" class="btn btn-primary">Créer</a>
        </div>
    </div>
{% endblock %}