{% extends 'admin/index.html.twig' %}

{% block content %}   
    	   		
   		
   <div class="container">        
        <table id="table_id" class="display" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th>N°</th>
                    <th>Matricule</th>
                    <th>Praticien</th>
                    <th>Date</th>
                    <th>Motif</th>
                    <th>Bilan</th>
                    <th>Afficher</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            
            <tbody>
            {% for rapport in rapports %}
               	   <tr>
                    	<td>{{ rapport.getRapNum}}</td>

                        <td>{{ rapport.getVisMatricule}}</td>

                   		<td>{{ rapport.getPraNum}}</td>

                    	<td>{{ rapport.getRapDate }}</td>

                   		<td>{{ rapport.getRapMotif}}</td>

                    	<td>{{ rapport.getRapBilan }}</td>

                        <td><a href="/showrapport/{{rapport.getRapNum}}" class="btn btn-primary">Afficher</a></td>

                        <td><a href="/admin/delrapport/{{rapport.getVisMatricule}}/{{rapport.getRapNum}}" class="btn btn-secondary">Supprimer</a></td>
                    </tr> 
    		{% endfor %}
            <tbody>
        
        </table>
        <div class="text-right">
            <a href="{{ path('newrapport') }}" class="btn btn-primary">Créer</a>
        </div>
	
	</div>
	
	

{% endblock %}