{#} Page médicament {#} 
{% extends 'base.html.twig' %}

{% block title %}Médicament{% endblock %}

{% block h1 %}Médicament{% endblock %}

{% block medicament %}   

<!--  UTF-8 --> 
<head>
	<meta charset="UTF-8">
</head>

   <div class="container">        
        <table id="table_id" class="table" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th>Nom</th>
                    <th>Nom commercial</th>
                    <th>Code</th>
                    <th>Composition</th>
                    <th>Effets</th>
                    <th>Contre-indications</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
            {% for medi in medoc %}
               	   <tr>
                    	<td>{{ medi.getMedDepotlegal }}</td>
                   		<td>{{ medi.getMedNomcommercial }}</td>
                    	<td>{{ medi.getFamCode }}</td>
                   		<td>{{ medi.getMedComposition }}</td>
                    	<td>{{ medi.getMedEffets }}</td>
                    	<td>{{ medi.getMedContreindic }}</td>
                    	<td>{{ medi.getMedPrixechantillon }}</td>
                    </tr> 
    		{% endfor %}
            <tbody>
        </table>
	</div> 
	   
{% endblock %}
