
{% extends 'base.html.twig' %}

{% block h1 %}Médicament{% endblock %}



{% block medicament %}    
 <div class="container">
                 {{ form_start(selectmed) }}

   				 {{ form_end(selectmed) }}
   				 
   				  <table class="table">
   					<thead class="thead-dark">
           				<tr>
                            <th>Dépot légal</th>
                            <th>Nom</th>
                            <th>Code</th>
                            <th>Composition</th>
                            <th>Effets</th>
                            <th>Contre indications</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{{ medoc.getMedDepotlegal }}</th>
                            <th>{{ medoc.getMedNomcommercial }}</th>
                            <th>{{ medoc.getFamCode }}</th>
                            <th>{{ medoc.getMedComposition }}</th>
                            <th>{{ medoc.getMedEffets }}</th>
                            <th>{{ medoc.getMedContreindic }}</th>
                   		</tr> 
               		</tbody>
   				</table>

   </div>				    
{% endblock %}
