
{% extends 'base.html.twig' %}

{% block h1 %}Praticien{% endblock %}



{% block praticien %}    
 <div class="container">
                 {{ form_start(selectprat) }}
   				 {{ form_end(selectprat) }}

   				<table class="table">
   					<thead class="thead-dark">
           				<tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Adresse</th>
                            <th>Ville</th>
                            <th>CP</th>
                            <th>Coef</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{{ prat.getPraNom }}</th>
                            <th>{{ prat.getPraPrenom }}</th>
                            <th>{{ prat.getPraAdresse }}</th>
                            <th>{{ prat.getPraVille }}</th>
                            <th>{{ prat.getPraCp }}</th>
                            <th>{{ prat.getPraCoefnotoriete }}</th>
                            <th>{{ prat.getTypCode }}</th>
                   		</tr> 
               		</tbody>
   				</table>
   </div>	
{% endblock %}