  
{% extends 'base.html.twig' %}

{% block h1 %}Tri praticien{% endblock %}


{% block triePraticien %}   
    	   		
   		
   <div class="container">        
        <table id="table_id" class="display" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Adresse</th>
                    <th>Ville</th>
                    <th>CP</th>
                    <th>Coef</th>
                    <th>Type</th>
                </tr>
            </thead>
            
            <tbody>
            {% for prati in praticiens %}
               	   <tr>
                    	<td>{{ prati.getPraNom }}</td>

                   		<td>{{ prati.getPraPrenom }}</td>

                    	<td>{{ prati.getPraAdresse }}</td>

                   		<td>{{ prati.getPraVille }}</td>

                    	<td>{{ prati.getPraCp }}</td>

                    	<td>{{ prati.getPraCoefnotoriete }}</td>

                    	<td>{{ prati.getTypCode }}</td>
                    </tr> 
    		{% endfor %}
            <tbody>
        
        </table>
	</div>
	
	

{% endblock %}